theme = "onedark"

[editor]
mouse = true
auto-format = true
auto-save = true

color-modes = true
true-color = true

shell = ["fish", "-c"]

scrolloff = 8

bufferline = "multiple"

popup-border = "popup"

end-of-line-diagnostics = "hint"

[editor.lsp]
display-inlay-hints = false
display-messages = true
auto-signature-help = true

[editor.inline-diagnostics]
cursor-line = "warning"

[editor.whitespace.render]
newline = "all"

[editor.whitespace.characters]
newline = "⏎"

[editor.indent-guides]
render = true
character = "⸽" # Some characters that work well: "▏", "┆", "┊", "⸽"

[editor.statusline]
left = ["mode", "spinner", "workspace-diagnostics"]
center = ["file-name"]
right = ["version-control"]

mode.normal = "N"
mode.insert = "I"
mode.select = "S"

[editor.gutters]
layout = ["spacer", "diff", "diagnostics", "line-numbers", "spacer"]

[editor.cursor-shape]
insert = "bar"
normal = "block"
select = "underline"

[editor.file-picker]
hidden = false

[keys.normal]
x = ["yank_main_selection_to_clipboard", "delete_selection"]
V = ["select_mode", "extend_to_line_bounds"]
p = ["select_mode", "paste_clipboard_after", "collapse_selection"]

C-A-l = ":format"
C-o = ":config-open"
C-s = ":config-reload"
C-x = ":buffer-close!"
C-j = "copy_selection_on_next_line"
C-k = "copy_selection_on_prev_line"

H = "goto_previous_buffer"
L = "goto_next_buffer"

"}" = "goto_next_paragraph"
"{" = "goto_prev_paragraph"

c.e = [
  "move_next_word_end",
  "yank_main_selection_to_clipboard",
  "delete_selection",
  "insert_mode",
]

C = [
  "extend_to_line_end",
  "yank_main_selection_to_clipboard",
  "delete_selection",
  "insert_mode",
]

u = ["undo", "collapse_selection"]
C-r = ["redo", "collapse_selection"]
esc = ["collapse_selection", "keep_primary_selection"]

"*" = [
  "move_char_right",
  "move_prev_word_start",
  "move_next_word_end",
  "search_selection",
  "search_next",
]

d = { d = [
  "extend_to_line_bounds",
  "yank_main_selection_to_clipboard",
  "delete_selection",
], s = "surround_delete", e = [
  "move_next_word_end",
  "yank_main_selection_to_clipboard",
  "delete_selection",
], j = [
  "select_mode",
  "extend_to_line_bounds",
  "extend_line_below",
  "yank_main_selection_to_clipboard",
  "delete_selection",
  "normal_mode",
], k = [
  "select_mode",
  "extend_to_line_bounds",
  "extend_line_above",
  "yank_main_selection_to_clipboard",
  "delete_selection",
  "normal_mode",
], w = [
  "move_next_word_start",
  "yank_main_selection_to_clipboard",
  "delete_selection",
] }
D = [
  "extend_to_line_end",
  "yank_main_selection_to_clipboard",
  "delete_selection",
]

[keys.normal.space]
G = "changed_file_picker"
R = "@miw:clipboard-paste-replace<ret>"
g = [":write-all", ":insert-output gitui > /dev/tty", ":redraw", ":reload-all"]
e = [
  ":sh rm -f /tmp/unique-file-h21a434",
  ":insert-output yazi '%{workspace_directory}' --chooser-file=/tmp/unique-file-h21a434",
  ":insert-output echo \"x1b[?1049h\" > /dev/tty",
  ":open %sh{cat /tmp/unique-file-h21a434}",
  ":reload-all",
  ":redraw",
]
h = "jump_view_left"
j = "jump_view_down"
k = "jump_view_up"
l = "jump_view_right"
d = "hover"
w.o = ["wonly",":buffer-close-others!"]

[keys.insert]
esc = ["collapse_selection", "normal_mode"]
C-space = "completion"

[keys.select]
esc = ["collapse_selection", "normal_mode"]

"{" = ["extend_to_line_bounds", "goto_prev_paragraph"]
"}" = ["extend_to_line_bounds", "goto_next_paragraph"]

V = ["select_mode", "extend_to_line_bounds"]

d = ["yank_main_selection_to_clipboard", "delete_selection"]
x = ["yank_main_selection_to_clipboard", "delete_selection"]

y = [
  "yank_main_selection_to_clipboard",
  "normal_mode",
  "flip_selections",
  "collapse_selection",
]
S = "surround_add"
u = ["switch_case", "collapse_selection", "normal_mode"]

i = "select_textobject_inner"
a = "select_textobject_around"

K = [
  "yank_main_selection_to_clipboard",
  "delete_selection",
  "move_line_up",
  "paste_clipboard_before",
  "select_mode",
]
J = [
  "yank_main_selection_to_clipboard",
  "delete_selection",
  "move_line_down",
  "paste_clipboard_before",
  "select_mode",
]
